# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 * list popular languages
 * list commonly used libraries
 * examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
    
1. Python
2. Julia
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. Pandas
3. Numpy
4. Matplotlib
5. Seaborn

|Data Science Tool|
|-----------------|
|Jupyter lab|
|R Studio|
|Apache Zeppelin|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Signoc